.brush_tools {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 48px;
}

.brush_tools__display {
  position: absolute;
  transition: left 0.3s;

  width: 100%;
}

.brush_tools__display-show {
  left: 0px;
}

.brush_tools__display-hide {
  left: -48px;
  transition-delay: 0.5s;
}

.brush_tools_bar {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: #2228;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
  pointer-events: auto;
  transition: background-color 0.5s, padding 0.5s, border 0.5s;
  transition-delay: 1s;
  width: 100%;
}

.brush_tools_bar:hover {
  background-color: #222e;
  transition-delay: 0s;
}

@media only screen and (max-height: 250px) {
  .brush_tools_bar {
    border-radius: 0px;
    height: 100%;
  }
}

.edit_tools {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 48px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.edit_tools__display {
  position: absolute;
  transition: top 0.3s;
  height: 100%;
}

.edit_tools__display-show {
  top: 0px;
}

.edit_tools__display-hide {
  top: -48px;
  transition-delay: 0.5s;
}

.edit_tools_bar {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: #2228;
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
  position: relative;
  /* opacity: 0.5; */
  transition: background-color 0.5s, padding 0.5s, border 0.5s;
  transition-delay: 1s;
}

.edit_tools_bar:hover {
  transition-delay: 0s;
  background-color: #222e;
  /* opacity: 1; */
}

.icon_divider {
  width: 1px;
  height: 34px;
  background: #9995;
  margin: 0px 10px 0px 10px;
}