/*
.playDeck .MuiSvgIcon-root {
  fill: #fff;
  filter: drop-shadow( 2px 2px 4px rgba(0,0,0,0.6));
}

.playDeck .MuiIconButton-root:hover .MuiSvgIcon-root {
  filter: drop-shadow( 2px 2px 5px rgba(0,0,0,0.8));
}

.playDeck  .Mui-disabled  .MuiSvgIcon-root { 
  fill: #fff5;
}
 */
